<div class="container new_form">
<div class="header">
  <%= link_to :back do%>
  <i class="fa fa-angle-left" style="color:black; padding:10px"></i>
<% end %>
<h1 class="text-center">Edit a record</h1>
</div>

<%= simple_form_for(@record) do |f| %>
  <%= f.input :disease%>
  <%= f.input :notes %>
  <%= f.input :medication %>
  <%= f.input :date, :label => "Doctors visit date" %>
  <%= f.input :photo, as: :file, label: "Upload image"%>
  <%= f.simple_fields_for :symptom do |p| %>
    <%= p.input :symptoms, :as => :select, :collection => Symptom.all, input_html: { multiple: true }, prompt: 'Select symptom'  %>
  <% end %>

  <%= f.button :submit, "Submit" ,class:"btn btn-dark" %>
<% end %>
</div>
