<h1 class="text-center m-4">Create a record</h1>
<div class="container new_form" data-controller="create_form">

<%= simple_form_for(@record) do |f| %>
  <%= f.input :disease, :label => "Sickness"%>
  <%= f.input :notes %>
  <%= f.input :medication %>
  <%= f.input :date, :label => "Doctors visit date", html5: true  %>
  <%= f.input :photo, as: :file, label: "Upload image"%>
  <%= f.input :pdf, as: :file, label: "Upload document:" %>
  <%= f.simple_fields_for :symptom do |p| %>
    <%= p.input :symptoms, :as => :select, :collection => Symptom.all, input_html: { multiple: true }, prompt: 'Select symptom'  %>
  <% end %>

  <%= f.button :submit, "Submit" ,class:"btn btn-dark" %>
<% end %>
</div>
