<h1 class="text-center m-4">Create a record</h1>
<div class="container new_form">

<%= simple_form_for(@record) do |f| %>
  <%= f.input :disease%>
  <%= f.input :notes %>
  <%= f.input :medication %>
  <%= f.input :date, :label => "Doctors visit date", html5: true  %>
  <%# <%= f.input :image, as: :file, label: "Image of house" %>

  <%= f.simple_fields_for :symptom do |p| %>
    <%= p.input :symptoms, :as => :select, :collection => Symptom.all, as: :check_boxes  %>
  <% end %>

  <%= f.button :submit, "Submit" ,class:"btn btn-dark" %>
<% end %>
</div>
 <input type="file" accept="image/*" capture="camera">
