<% if current_user %>
    <div class="btns">
        <%= link_to :back do%>
          <i class="fa fa-angle-left" style="color:black; padding:10px"></i>
        <% end %>
        <div>
            <%= mail_to "aramille@googlemail.com", subject: "here is your link", body: "#{request.original_url}/visitor?token=#{@record.token}",  class: "btn" do %>
              <i class="fa fa-share-nodes"></i>
            <% end %>
            <%= link_to edit_record_path(@record), class: "btn " do%>
            <i class="fa fa-pen" aria-hidden="true"></i>
          <% end %>
          <%= link_to record_path(@record),
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},
              class: "btn" do%>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
        </div>
    </div>
<div>
<% end %>

    <lottie-player src="https://assets6.lottiefiles.com/temp/lf20_YMAG36.json"  background="transparent"  speed="1"  style="width: 150px; height: 150px; margin: 0 auto;"  loop  autoplay></lottie-player>
  <h1 class="text-center mb4">Record</h1>
<div class="wrapper">
  <div class="record-card" style="width: 100%;">
    <div class="card-body">
      <div class="card-box">
        <h5 class="card-title">Sickness</h5>
        <div><%= @record.disease %></div>
      </div>

      <div class="card-box">
        <h5 class="card-title">Date</h5>
        <div><%= @record.date.strftime("%B %d, %Y %a") %></div>
      </div>

      <div class="card-box">
        <h5 class="card-title">Symptoms</h5>

        <% if @record.symptoms %>
            <% @record.symptoms.each do |item| %>
              <div class="symptoms"><%= item.name %></div>
            <% end %>
          <% else %>
            <p>no symptoms yet..</p>
        <% end %>

      </div>

      <div class="card-box">
        <h5 class="card-title">Medication</h5>
        <div><%= @record.medication %></div>
      </div>

      <div class="card-box">
        <h5 class="card-title">Notes</h5>
        <div><%= @record.notes %></div>
      </div>

      <div class="card-box">
        <h5 class="card-title">Image</h5>

        <% if @record.photo.attached? %>
        <%= link_to @record.photo.url do %>
          <%= cl_image_tag @record.photo.key, height: 200, width: 200, crop: :fill %>
        <%end%>
          <% else %>
          <p>No image yet..</p>
        <% end %>

        <% if @record.pdf.attached? %>
          <div><%=  link_to "pdf file", @record.pdf %></div>
          <% else %>
          <p>No files yet..</p>
        <% end %>

      </div>
    </div>
  </div>
</div>
