<div class="video-container">

  <%= video_tag 'udo_health_komp.mp4', autoplay: :autoplay, loop: :loop, muted: :muted, class: "video_tag" %>


  <div class="text-landing">
    <h1 class="home-h">Udo</h1>
    <br>
      <br>
        <p class="home-p">Transforming data into actionable solutions</p>
        <br>
          <br>
            <% if !user_signed_in? %>
              <div class="d-flex d-flex-ghost">
                <%= link_to "Login", new_user_session_path, class: "btn btn-ghost" %>
                <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-ghost" %>
              </div>
              <% else %>
                <%= link_to "All records", records_path, class: "btn btn-ghost" %>
            <% end %>
            <div class="arrow-down">
            <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_kxjicwsk.json"   background="transparent"  speed="1"  style="width: 50px; height: 50px;"  loop  autoplay></lottie-player>

            </div>
          </div>
        </div>


        <%# <section id="subscribe-form" class="subscribe-form wf-section"></section> %>
        <section id="feature-section" class="feature-section wf-section">
          <div class="flex-container w-container">
            <div class="feature-image-mask">
              <%= image_tag "team-picture.jpg", class: "w-100 pic" %>
            </div>
            <div>
              <h2>We are Udo</h2>
              <p>We are an innovative global company, driven by one purpose: we build effective communication between healthcare professionals and patients.</p>
            </div>
          </div>
        </section>


        <div class="container-fluid pad">
          <h2>Get in touch</h2>
          <p>If you have any concerns about keeping accurate records, get in touch with us to see how we can support you</p>
          <div class="w-form space-at-buttm">
            <form id="email-form" name="email-form" data-name="Email Form" method="get" class="subscribe-form-flex">
              <div class="subscribe-form-input-wrapper">
                <label for="Subscriber-Email" id="subscribe-email">Email</label>
                <input type="email" class="subscribe-form-input w-input" maxlength="256" name="Subscriber-Email" data-name="Subscriber Email" placeholder="" id="Subscriber-Email" required=""></div>
                <input type="submit" value="Submit" data-wait="Please wait..." class="w-button btn-color"></form>
                <%# <div class="w-form-done">
                          <div>Thank you! Your submission has been received!</div>
                        </div>
                        <div class="w-form-fail">
                          <div>Oops! Something went wrong while submitting the form.</div>
                        </div> %>
              </div>
            </div>
